#advantages-section {
	// section {
	  padding: 104px 0 61px 0;
	  background: url(./../assets/about-bg.jpg) no-repeat;
	  background-size: cover;

	  @media screen and(max-width: 1280px) {
	    padding: 60px 0;
	  }
	// }

	.title {
	  text-align: left;
	  text-shadow:  3px 3px 12px rgba(56,27,2, 0.3);
	}

	.curve {
	  // height: 100px;
	  margin: 27px 0 0 0;
	  display: block;
	  width: 167px;
	  @media screen and(max-width: 480px) {
	    margin: 25px auto;
	    width: 120px;
	  }
	}

	.list {
	  display: flex;
	  justify-content: space-between;
	  flex-wrap: wrap;
	  margin-top: 65px;

	  .slide-up {
	      &:nth-child(1) {
	        animation-delay: .0s;
	      }

	      &:nth-child(2) {
	        animation-delay: .4s;
	      }

	      &:nth-child(3) {
	        animation-delay: 0s;
	      }

	      &:nth-child(4) {
	        animation-delay: 0.4s;
	      }

	      &:nth-child(5) {
	        animation-delay: 0s;
	      }

	      &:nth-child(6) {
	        animation-delay: 0.4s;
	      }

	      @media screen and(max-width: 768px) {
	        &:nth-child(1) {
	          animation-delay: 0s;
	        }

	        &:nth-child(2) {
	          animation-delay: 0s;
	        }

	        &:nth-child(3) {
	          animation-delay: 0s;
	        }

	        &:nth-child(4) {
	          animation-delay: 0s;
	        }

	        &:nth-child(5) {
	          animation-delay: 0s;
	        }

	        &:nth-child(6) {
	          animation-delay: 0s;
	        }
	      }
	    
	  }

	  @media screen and(max-width: 480px) {
	    margin-top: 20px;
	  }

	  &__item {
	    width: calc(100% / 2 - 10px);
	    margin-bottom: 60px;
	    display: flex;
	    justify-content: space-between;

	    @media screen and(max-width: 1024px) {
	      // width: 100%;
	    }

	    @media screen and(max-width: 768px) {
	      width: 100%;
	    }

	    @media screen and(max-width: 480px) {
	      flex-wrap: wrap;
	      margin-bottom: 25px;
	    }

	    @media (hover) {
	      &:hover {
	        .list__item_img {
	          box-shadow: 0 6px 35px 0px #000;

	          .icon {
	            transform: scale(1.2);
	          }
	        }
	      }
	    }

	    &:nth-child(even) {
	      padding-left: 25px;

	      @media screen and(max-width: 1280px) {
	        padding-left: 0;
	      }
	    }

	    &_info {
	      width: calc(100% - 170px);
	      padding-left: 40px;

	      @media screen and(max-width: 1024px) {
	        padding-left: 25px;
	        width: calc(100% - 110px);
	      }

	      @media screen and(max-width: 480px) {
	        width: 100%;
	        padding-left: 0;
	      }
	    }

	    &_img {
	      width: 170px;
	      height: 170px;
	      background: url(./../assets/coin.svg);
	      background-size: cover;
	      margin: auto;
	      border-radius: 100%;
	      box-shadow: 0 6px 25px -4px #000;
	      display: flex;
	      align-items: center;
	      justify-content: center;
	      transition: 0.3s;

	      @media screen and(max-width: 480px) {
	        margin-bottom: 20px;
	      }

	      .icon {
	        width: 50px;
	        height: 50px;
	        transition: 0.3s;

	        @media screen and(max-width: 480px) {
	          width: 25px;
	          height: 25px;
	        }
	      }

	      @media screen and(max-width: 1024px) {
	        width: 110px;
	        height: 110px;
	      }

	      @media screen and(max-width: 480px) {
	        width: 80px;
	        height: 80px;
	      }
	    }

	    &_title {
	      font-size: 18px;
	      text-transform: uppercase;
	      font-weight: 600;

	      @media screen and(max-width: 1024px) {
	        font-size: 16px;
	      }

	      @media screen and(max-width: 480px) {
	        text-align: center;
	      }
	    }

	    &_descr {
	      margin-top: 22px;
	      font-size: 14px;
	      font-family: Montserrat;
	      line-height: 1.5em;
	      letter-spacing: -0.1px;
	      font-weight: 400;
	      padding-right: 20px;

	      @media screen and(max-width: 1024px) {
	        font-size: 12px;
	        letter-spacing: initial;
	        padding-right: 0;
	      }

	      @media screen and(max-width: 980px) {
	        letter-spacing: 0.9px;
	      }

	      @media screen and(max-width: 768px) {
	        letter-spacing: 0.5px;
	      }
	      @media screen and(max-width: 600px) {
	        padding-right: 32px;
	        letter-spacing: 0.9px;
	      }

	      @media screen and(max-width: 480px) {
	        text-align: center;
	        padding: 0;
	        letter-spacing: 0.5px;
	      }
	      @media screen and(max-width: 480px) {
	        letter-spacing: initial;
	      }
	    }
	  }
	}
}