#middle-form-section {

    padding: 106px 0 118px 0;
    background: url(./../assets/middle-form.jpg) no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and(max-width: 1280px) {
      padding: 60px 0;
    }
  

  .curve {
    margin: 27px auto 59px;
    display: block;
    width: 167px;
    @media screen and(max-width: 480px) {
      margin: 25px auto;
      width: 120px;
    }
  }

  .subscribe-form {
    margin: 20px auto 0;
    max-width: 360px;

    .btn {
      margin: auto;
      width: 242px;
      background-image: linear-gradient(90deg, #a1812e, #bd9b41,  #f4de8b,  #f4de8b);
      @media screen and(max-width: 768px) {
        width: 100%;
      }
    }

    form {
      >div:first-child {
        .wrapp-iput {
          &:first-child {}

          &:last-child {}
        }
      }
    }
  }

  .title {
    color: #e0c249;
    background: linear-gradient(to right, #a0812e, #fcd99f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


    @media screen and(max-width: 768px) {
      padding: 0 25px;
    }

    @media screen and(max-width: 600px) {
      padding: 0;
    }

    // @media screen and(max-width: 375px) {
    //   padding: 0;
    // }

  }

}